html{
    scroll-behavior: smooth;
}

body{
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 1;
  margin: 2em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

h1{
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  padding: 30px 30px;
}

h2{
  font-size: 18px;
  line-height: 1.5px;
  padding: 30px 30px;
  text-align: center;
}

img{
  width: 40%;
}

footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

header p{
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
  text-align: center;
  background: rgba(0, 0, 0, .5);
}


/*NAVIGATION*/
nav{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #761B06;
  padding: 25px 0;
  overflow: hidden;
  /*position: fixed;
  top: 0;
  width: 100%; want to have nabar sticky to top but also below header*/
}

#active_icon::after{
  content: url("../images/black_pepper.png");
  width: 30%;
  color:white;
}

nav a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.current{
  color:black;
  text-decoration: overline underline;
}

/*SKIP TO MAIN*/
.skip a{
  background: white;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;
}

/*place skip*/
.skip a:focus{
  position: absolute;
  top: 10px;
}

/*style all elements when in focus*/
*:focus{
  border-bottom: 2px dashed black;
  border-top: 2px dashed black;
}


header{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 600px;
  /* display: block; */
  width: 100%;
  /*Thank you to Wong Zihoo from Unsplash for the photo */
  background-image: url("../images/rinb_small.png");

}

.txtcontainer{
  max-width: 500px;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  line-height: 1.5em;

}

.gallery{
  min-height: 600px;
  display: grid;
  grid-template-columns: auto;
  /* grid-template-rows: auto; */
  grid-row-gap: 20px;
  justify-content: center;

}

.gallery > img{
  margin: 10px;
  width: 300px;
}


.contact-icons{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 450px;
}

/*FORM*/
.form_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

legend{
  font-size: 20px;
  margin-bottom: 10px;
}

label{
  display: inline-flex;
  width: 100%;
  margin-bottom: 8px;
  margin-top: 12px;
}

textarea{
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0 20px 0;
  border: 1px solid #2E3138;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #6C6F7D;
  border: 5px;
  color: white;
  height: 30px;
  width: 100%;
  text-transform: uppercase;
}

input[type=submit]:hover {
  opacity: 0.6;
}


/*CARD FLIP*/
.cardcontainer{
  position: relative;
  align-self: center;
  width: 250px;
  height: 320px;
}
.cardflip{
position:absolute;
width: 100%;
height: 100%;
transform-style:preserve-3d;
transition: all 0.5s ease;
}
.cardflip:hover{
transform: rotateY(180deg);
}

/*this is how I try to make it keyboard accessible based on what I found here*/
/*https://www.w3schools.com/howto/howto_css_flip_card.asp*/
.cardcontainer:focus .cardflip{
  transform: rotateY(180deg);
}

.cardfront{
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
background-image: url("../images/qr_code.jpg");
color: blanchedalmond;
}
.cardback{
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
background-image: url("../images/wechat_pfp.jpg");
color: blanchedalmond;
transform: rotateY(180deg);
}

@media all and (min-width: 760px){

  header{
    height: 800px;
  }
  img{
     width:50%;
  }

  nav li{
    display:inline;
    padding-right:20px;
  }

  .gallery{
    min-height: 600px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 20px;

  }

@media all and (min-width: 1260px){

  header{
    background-image: url("../images/rinbhead.png");
    height: 700px;
  }
  img{
    width:30%;
  }

/* The code below is for accessibility
to turn off animations and movement
for people who prefer reduced motion */
@media (prefers-reduced-motion){
  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
  /*stop flip*/
  .cardflip:hover{
    transform: none;
    }
  }
}


